.NavBar {
  display: flex;
  flex-direction: row;
  background-color: #ff914d;
  width: 100%;

  .logo {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 20px;
    display: flex;
    height: 120px;
    width: 180px;
  }

.NavBarList { 
    display: flex;
    align-items: center; /* Default */
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    min-width: fit-content; 
    width: 60%;

    li {
      display: block;
      flex: 0 1 auto; /* Default */
      list-style-type: none;
      cursor: pointer;
      padding: 10px;
      color: white;
      font-size: 1.5em;
      font-weight: bold;
  }

.navActive {
  border-bottom: 3px solid white;
  transition: border-bottom .5s ease-in-out;
}

.navItem:link, .navItem:visited {
  color:white;
  text-align: center;
  text-decoration: none;
  display: flex-block;

    }
  }
}
