.NavBarList {
    background-color: black;
    display: flex;
    align-items: center; /* Default */
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    padding-left: 60px;
    padding-right: 60px;
}
li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    color: orange;
    font-size: 1.5em;
    font-weight: bold;
}
.navActive {
    border-bottom: 3px solid white;
    transition: border-bottom .5s ease-in-out;
  }

.navItem:link, a.navItem:visited {
    color: orange;
    text-align: center;
    text-decoration: none;
    display: flex-block;
  }
