.Home {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;

  h2 {
    margin: 4px;
    margin-top: 5px;
  }
  h3 {
    margin: 4px;
  }
  p {
    margin: 4px;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    height: auto;
    padding: 10px;
  }
}

.contact-block {
  justify-content: left;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 175px;
  margin-top: 5ch;
  border: 3px solid cadetblue;
}

.subscribe-btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 20%;
  font-size: 1rem;
  border: none;

  background-color: coral;
  color: #fff;
}

.subscribe-btn:hover{
  opacity: 0.8;
}