.Home {
  display: flex;
  flex-direction: column;
  padding: 30px;

  h2 {
    margin: 4px;
    margin-top: 5px;
  }
  h3 {
    margin: 4px;
  }
  p {
    margin: 4px;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
    max-width: 700px;
    border-radius: 30px;
    height: auto;
    padding: 10px;
  }
}
